<footer>
<p>
  Bloggen basert på <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>s <a href="{{ pkg.repository.url }}">eksempelrepo</a>.
</p>
<p>
<!--{{ site.rootUrl }}
  Denne siden ble generert {{ site.buildTime }} | dateDisplay('LLL d, yyyy - HH:mm') }} -->
</p>
</footer>
