<header>
  <ul class="nav">
    <li>
      <a href="/">hjem<small>roten til alt godt</small></a>
    </li>
    <li>
      <a href="/about">om<small>alt dette</small></a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
